* {
    box-sizing: border-box;
}

/* /////// Universal classes /////// */
.active {
    cursor: pointer;
}


/* ////// Logo and Company Name ////// */
.nav-wrapper a {
    display: flex;
}

.nav-wrapper a img {
    width: 70px;
    height: 100%;
}

#mobile-header {
    display: none;
}

/* ///// Section: Offers ////// */
.offers {
    display: flex;
    justify-content: center;
}

.offers ul li {
    display: inline-block;
    padding: 0 10px;
}

.offers a {
    color: #000000;
}

.offers a:hover {
    border-bottom: 1px solid #000000;
}

/* ////// Hidden Mobile Sidenav content will display at width 610px ////// */
#mobile-offers {
    display: none;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.special-offer {
    position: relative !important;
}

.promo-banner {
    position: absolute !important;
    margin-top: -3%;
    width: 30% !important;
}

.promo-title {
    position: absolute;
    bottom: 2%;
    padding: 3px 12px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

/* /////  ///// */
/* .promo-rating {
    position: absolute;
    bottom: 0;
    right: 2%;
    color: #FFC107;
}

.promo-rating li {
    display: inline;
}

.promo-star-bg {
    position: absolute;
    bottom: 0;
    right: 2%;
}

.promo-star-bg li {
    display: inline;
} */

.btn-container {
    padding-top: 5px;
    text-align: center;
}

.promo-btn {
    background: linear-gradient(to top, #BE1207,#DE0B07,#EF1311, #FE6365 );
    font-weight: 600;
}

.fa-map-marked-alt {
    margin-left: 2px;
}

/* ////// Section: Mobile App ////// */
.mobile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mobile-left {
    display: inline;
    padding-left: 20px;
}

.mobile-right {
    text-align: center;
}

.apps {
    padding: 0 10px;
}

#stripe {
    margin-left: -20px;
    width: 150%;
}

.mobile-right img {
    padding-top: 10px;
    width: 400px;
}

/* ////// Rental Promo /////// */
/* Left Div */
.rental-car img {
    width: 118%;
}

/* Center Div */


/* Right Div */
.rental-cta ul {
    align-items: center;
}

.rental-cta ul li {
    margin: 0 5px;
}

.rental-cta ul li img {
    width: 98px;
}

/* /////// Section: Follow ////// */
.section-follow .fa-4x {
    margin: 5px 10px;
}

/* ////// Section: Galery ////// */
.travel-section {
    width: 85%;
    margin: 35px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
}

.box {
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

.box0 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/resort.jpg');
    background-size: cover;
    background-position-x: cener;
}

.box1 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/toronto.jpg');
    background-size: cover;
}

.box2 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/ny.jpg');
    background-position: center;
    background-size: cover; 
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/japan.jpg');
    background-size: cover;
    background-position: center;
}

.box4 {
    grid-column: 3 / 3;
    grid-row: 3 / 5;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/dubai.jpg');
    background-size: cover;
}

.box5 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/kenya.jpg');
    background-size: cover;
}

.box6 {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/australia.jpg');
    background-size: cover;
    background-position: center;
}

.box7 {
    grid-column: 1 / 2;
    grid-row: 7 / 9;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/chi-town.jpg');
    background-size: cover;
    background-position: center;
}

.box8 {
    grid-column: 2 / 3;
    grid-row: 7 / 9;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/punta-cana.jpg');
    background-size: cover;
    background-position: center;
}

.box9 {
    grid-column: 3 / 3;
    grid-row: 7 / 9;
    background-image: linear-gradient(to top, rgba( 0,0,0,.2), rgba(0,0,0,.1)), url('../img/gallery-bg/vegas.jpg');
    background-size: cover;
    background-position: center;
}

.price-tag-long {
    position: absolute;
    bottom: 15%;
    left: 1%;
    background-color: rgba( 255,255,255,.85);    
    font-size: 22px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

.price-detail {
    position: absolute;
    right: 1%;
    bottom: 5%;
    background-color: rgba( 255,255,255,.85);
    padding: 0px 8px;
    border-radius: 5px;
    font-weight: 700;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

/* Company Logos */
#corp-logos ul {
}

#corp-logos ul li {
    display: inline;
}

/* ////// Media Queries ////// */
@media (min-width:993px) {
    .rental-car img {
        padding-top: 20%;
        margin-left: -10px;
    }
}

@media (max-width:992px) {
    #car-rentals {
        padding-top: 35px;
    }
    .rental-car img {
        width: 60%;
    }
    .travel-section {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
    }
}

@media (max-width:820px) {
    .apps {
        padding: 0 10px;
        height: 35px;
    }

    .mobile-right img {
        width: 300px;
        padding-top: 100px;
    }
}

@media (max-width:750px) {
    .travel-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(50px, auto);
        grid-gap: .5em;
    }

    /* Resort */
    .box0 {
        display: none;
    }
    
    /* Drake-Landia */
    .box1 {
        grid-column: 3 / 5;
        grid-row: 1 / 4;
        background-position-y: bottom;
    }
    
    /* Gotham City */    
    .box2 {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        background-position-y: bottom;
    }
    
    /* Japan */
    .box3 {
        grid-column: 1 / 3;
        grid-row: 4 / 7;
        background-position-y: bottom;
    }
    
    /* Dubai */
    .box4 {
        grid-column: 3 / 5;
        grid-row: 4 / 7;
        background-position-y: bottom;
    }
    
    .box5 {
        display: none; 
    }
    
    /* G'Day Mate */
    .box6 {
        display: none;
    }

    /* Chi Town */
    .box7 {
        grid-column: 3 / 5;
        grid-row: 7 / 10;
        background-position-y: bottom;
    }

    /* Kenya */
    .box8 {
        display: none;
    }

    /* vegas */
    .box9 {
        grid-column: 1 / 3;
        grid-row: 7 / 10;
        background-position-y: bottom;
    }
}

@media (max-width:610px) {
    .offers {
        display: none;
    }

    #mobile-offers {
        display: block;
    }

    .mobile-header {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #mobile-nav a img {
        width: 50px;
        height: 100%;
    }
}

@media (max-width:610px) {
    #mobile-header {
        display: flex;
    }
    .nav-wrapper a:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav-wrapper a img {
        width: 40px;
    }
}

@media (max-width:555px) {
    #stripe {
        margin-left: -20px;
        width: 150%;
    }
    .mobile-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
    }
    .mobile-left {
        overflow: hidden;
        padding-right: 20px;
    }
    #stripe {
        width: 115%;
    }
    .mobile-right {
        text-align: right;
        position: absolute;
        right: 0%;
        bottom: 0;
    }
    .mobile-right img {
        padding-top: 10px;
        width: 180px;
    }
    .rental-car img {
        width: 90%;
    }
}

@media (max-width:473px) {
    .mobile-right img {
        width: 28%;
    }
    .apps {
        padding: 0 10px;
        height: 25px;
    }

    .travel-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(50px, auto);
        grid-gap: .5em;
    }
    
    /* Drake-Landia */
    .box1 {
        grid-column: 1 / 6;
        grid-row: 4 / 7;
    }
    
    /* Gotham City */    
    .box2 {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
    }
    
    /* Japan */
    .box3 {
        grid-column: 1 / 6;
        grid-row: 7 / 10;
        background-position-y: center;
    }
    
    /* Dubai */
    .box4 {
        grid-column: 1 / 6;
        grid-row: 10 / 13;
    }

    /* Chi Town */
    .box7 {
        display: none;
    }

    /* vegas */
    .box9 {
        display: none;
    }
}

@media (max-width:355px) {
    .nav-wrapper a img {
     width: 30px;
    }
    .nav-wrapper a:nth-of-type(1) {
        font-size: 15px;
        font-weight: 600;
    }
}

@media (max-width:315px) {
    .mobile-right img {
        display: none;
    }
}

@media (max-width:255px) {
    .nav-wrapper a:nth-of-type(1) {
        display: none;
    }
    .rental-car img {
        width: 150px;
    }
}